.welcome {
    text-align: center;
}

.media {
    float: left;
    padding: 10px;
    margin-left: 2%;
    margin-top: 2%;
    image-rendering: auto;
}

.nav-item {
    float: right;

}

.card-text {
    float: right;
}

.img-thumbnail {
    width: 60%;
    padding: 5px;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    border: 5px;

}

h5 {
    color: teal;
    font-size: 150%;
}

h1 {
    color: teal;
    font-size: 150%;
}

.Driveway {
    float: left;
    width: 16.66%;
    padding: 5px;

}

.Barn {
    float: left;
    width: 16.66%;
    padding: 5px;
}

.Summer {
    float: left;
    width: 16.66%;
    padding: 5px;
    /* position: relative; */
}

.Pasture {
    float: left;
    width: 16.66%;
    padding: 5px;
    /* position: relative; */
}

.img-fluid {
    width: 16.66%;
    padding: 5px;
    /* margin: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
    /* position: relative; */
    /* align-items: center; */
    float: left;
    /* position: relative; */
    /* margin: 1%; */
    /* margin-bottom: 5%; */
}

.Winter {
    float: left;
    /* position: relative; */
    width: 16.66%;
    padding: 5px;
    /* margin-bottom: 5%; */
}

form {
    padding: 10px;
}

h2 {
    color: teal;
    padding: 15px;
}

#SubmitButton {
    background-color: teal;
}

#staticEmail {
    color: blue;
    text-decoration: underline;
    text-align: left;
    padding: 5px;
    margin-left: 5%;

}

.footer {
    /* background-color: grey; */
    margin-top: auto;
    /* height: 50px; */
    /* text-align: center; */
    /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: grey; */
   color: teal;
   text-align: center;
}

h3 {
    padding: 15px;
    color: teal;


}

.resume {
    padding: 5px;
    text-align: center;
    margin-bottom: 1%;
}

h6 {
    padding: 5px;
}
.media-body {
    text-align: center;
    padding: 5px;
}

.form-group {
    padding: 5px;
    text-align: left;
}

@media screen and(max-width: 700px) {
    .img-fluid  {
        float: none;
        width: 100%;
      }
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
    margin-left: auto;
    margin-bottom: 5px;
  }

  .portfolio {
    text-align: center;
  }

